:root{
    --color-ios: hsl(171, 66%, 44%);
    --color-ishadow:hsl(171, 66%, 32%);
    --color-mac: hsl(233, 100%, 69%);
    --color-mshadow:hsl(233, 100%, 62%);
    --color-p: hsl(201, 11%, 66%);
    --color-h: hsl(210, 10%, 33%);
    --color-f: hsl(203, 29%, 95%);
    --border-ch:3px solid hotpink;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    box-sizing: border-box;
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 10%;
}
p{
    color: var(--color-p);
    text-align: center;
    position: relative;
    top: -30px;
    line-height: 25px;
    max-width: 65%;
}

h2, h1{
    color: var(--color-h);
}
h4{
    color: var(--color-h);
    font-weight: 400;
}

.img-logo{
    display: flex;
    justify-content: center;
    padding-top: 6rem; 
    padding-bottom: 3rem;
}
.intro{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.justify-text{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    margin: 3rem 0;
}
 .justify-text p{
    display: flex;
    align-self: center;
    color: var(--color-p);
    text-align: center;
    position: relative;
    top: -30px;
    line-height: 25px;
 }

.buttons{
    max-width: 90%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    position: relative;
    top: -15px;
    cursor: pointer;
}
.buttons *{
    color: white;
    border-radius: 30px;
    padding: .8rem 3rem .8rem 3rem;
    text-align: center;
    margin: .5rem .5rem;
}
.ios{
    background-color: var(--color-ios) ;
    box-shadow: 0px 3px 1px var(--color-ishadow);
}
.ios:hover{
    opacity: 0.7;
}
.mac{
    background-color: var(--color-mac);
    box-shadow: 0px 3px 1px var(--color-mshadow);
}
.mac:hover{
    opacity: 0.7;
}

.top-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.img-device{
    max-width: 89%;  
}
.top-text{
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.top-text p{
    max-width: 65%;
}
.top-text *{
    align-self: center;
}

.img-device2{
    display:flex;
    justify-content: center;
}
.img-device2 img{
     max-width: 89%;
}

.bottom-info{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.icon{
    width: 44px;
}
.bt{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 1rem;
}
.sponsors{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.sponsors img{
    padding: 3rem 4rem
}
.bottom-icon{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

footer{
    background-color: var(--color-f);
    display: flex;
    flex-flow: column wrap; 
}
.img-logo-b{
    display: flex;
    justify-content: center;
    align-self: center;
}
.img-logo-b img{
    width: 44px;
    margin-top: 2rem;
}
.more-info{
    display: flex;
    flex-flow: column wrap;        
    padding: 1rem 0;
}
.more-info ul{
    padding: 0;
    margin: 0;
    display:flex;
    flex-flow: column wrap; 
    justify-content: space-around;
    align-items: center; 
}
li{
    list-style-type: none;
    color: var(--color-h);
    line-height: 2.5rem;
}
a{
    text-decoration: none;
    color:var(--color-p);
}
li:hover{
    color: var(--color-ios);
}
.contact-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-icon{
    padding: 1rem 1.3rem;
}
.c-icon:hover{
    fill: hsl(171, 66%, 44%);;
}

@media screen and (min-width: 1440px){
    body{
    background-image: url(/images/bg-header-desktop.png);
    }
}

@media screen and (min-width: 600px){
    footer{
        flex-flow: row wrap;
        justify-content: center;
    }
    .img-logo-b{
       margin-right:3rem;
    }
    .img-logo-b img{
        margin-top: 0;
    }
    .more-info{
        width: 60%;
        flex-flow: row wrap;
        justify-content:flex-start;
        padding-left: 4rem;
    }
    .more-info ul{
        margin-right: 4rem;
        align-items: flex-start;
        justify-content: flex-start; 
    }
}

@media screen and (min-width: 1401px){
    .top-info{
        position: relative;
        right: 3.8rem;
    }
    .top-text *{
      align-self: flex-start;
      text-align: left;
    }
}